<article class="news-ticker-story">
	<h3 class="{{#if isBreaking}}breaking-story{{/if}} {{#if isLive}}live-story{{/if}}"  >{{headline}}</h3>
	<!--<p>{{prompt}}<p>-->
	<a href="http://www.bbc.co.uk/{{url}}">Read More</a>
</article>